body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.wrapper:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: #ffffff;
    color: #000000;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
}

.header h1 {
    margin-top: 15px;
}

.form {
    margin-top: 20px;
}

.input-container {
    text-align: center; /* Center the input and button */
}

.input-container input {
    width: 100%;
    padding: 15px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
    font-size: 16px;
    margin-bottom: 10px; /* Add margin to separate input and button */
}

#generateButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

#generateButton:hover {
    background-color: #0056b3;
}


.qr-code {
    margin-top: 20px;
}

canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

#copyButton, #downloadButton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

#copyButton {
    background-color: #007BFF;
    color: #fff;
}

#downloadButton {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#copyButton:hover {
    background-color: #0056b3;
}

#downloadButton:hover {
    background-color: #000;
}


.qr-code {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

canvas {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

#copyButton, #downloadButton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

#copyButton {
    background-color: #007BFF;
    color: #fff;
}

#downloadButton {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#copyButton:hover {
    background-color: #0056b3;
}

#downloadButton:hover {
    background-color: #000;
}
